body {
  font-family: "Montserrat", sans-serif;
  background-color: #00d1c3;
  color: #0a1f46;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 30pt;
  text-align: center;
}

header,
footer {
  background-color: #00b0a4;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 1em;
  border-radius: 1em;
}

/* hero */

#hero {
  margin: 1em 0 1em 0;
  padding: 1em;
  text-align: center;
  background-color: #00b0a4;
  border-radius: 1em;
}

#hero img {
  max-width: 200px;
  width: 100%;
}

#projects {
  text-align: center;
}

/* hobbies */

#hobbies {
  background-color: #00b0a4;
  font-size: 15pt;
  font-weight: 500;
  border-radius: 1em;
 
  margin: auto;
  margin-bottom: 1em;
  padding: 1em;
  text-align: center;
}

@media screen and (min-width: 560px) {
  #hobbies{
    max-width: 500px;
    width: 100%;
  }
}

#hobbies-list {
  list-style-type: none;
}

/* gallery */

#gallery {
  background-color: #00b0a4;
  border-radius: 1em;
  padding: 1em;
  margin: auto;
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
}

#galleryimages {
  display: flex;
  flex-direction: column;
}

#gallery img {
  max-width: 75%;
}

#gallery figure {
  text-align: center;
}

figcaption{
  margin-top: 1em;
}

@media screen and (min-width: 60em) {
  figure {
    display:grid;
    grid-template-columns: 2fr 1fr;
  }

  figcaption {
    display:  flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
  }

  #gallery img {
    max-width: 50%;
  }
}

/* lipsum */

#lit {
  background-color: #00b0a4;
  border-radius: 1em;
  padding: 1em;
  margin: auto;
  margin-bottom: 1em;
}

#lit div p {
  clear: both;
}

#lit div p:first-letter {
    color:#0a1f46;
    float: left;
    font-size: 3em;
}
